---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SideBar from "../components/SideBar.astro";
import Footer from "../components/Footer.astro";
import HomePage from "../components/HomePage.vue";
---

<Layout title="azgart">
  <div class="overflow-hidden">
    <Header />
	<!-- <ProductPage /> -->
    <HomePage client:load/>
    <SideBar />
    <Footer />
  </div>
</Layout>
